<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">


            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/niceselect.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/flex-slider.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/owl-carousel.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/slicknav.min.css') }}">

            <link rel="stylesheet" href="{{ asset('assets/css/default.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        {% endblock %}

        {% block javascripts %}


            <script data-cfasync="false" src="{{ asset('../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js') }}"></script>

            <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>

            <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>

            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

            <script src="{{ asset('assets/js/slicknav.min.js') }}"></script>

            <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>

            <script src="{{ asset('assets/js/magnific-popup.js') }}"></script>

            <script src="{{ asset('assets/js/facnybox.min.js') }}"></script>

            <script src="{{ asset('assets/js/waypoints.min.js') }}"></script>

            <script src="{{ asset('assets/js/finalcountdown.min.js') }}"></script>

            <script src="{{ asset('assets/js/nicesellect.js') }}"></script>

            <script src="{{ asset('assets/js/ytplayer.min.js') }}"></script>

            <script src="{{ asset('assets/js/flex-slider.js') }}"></script>

            <script src="{{ asset('assets/js/scrollup.js') }}"></script>

            <script src="{{ asset('assets/js/onepage-nav.min.js') }}"></script>

            <script src="{{ asset('assets/js/easing.js') }}"></script>

            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>

        {% block header %}
            <header class="header shop">

                <div class="topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">

                                <div class="top-left">
                                    <ul class="list-main">
                                        <li><i class="ti-headphone-alt"></i> +070 (460) 532-654</li>
                                        <li><i class="ti-email"></i> <a href="https://themes.themewild.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="42313732322d303602273a232f322e276c212d2f">[email&#160;protected]</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-12">

                                <div class="right-content">
                                    <ul class="list-main">
                                        <li><i class="flaticon-home"></i> <a href="#">Acceuil</a></li>
                                            {% if app.user %}

                                                {% if app.user.roles[0] == 'ROLE_ARTISAN' %}

                                                    <li><i class="ti-user"></i> <a href="{{ path('app_artisan_show', { 'id': app.user.id } )}}">{{ app.user.nom }}</a></li>
                                                    <li><i class="ti-power-off"></i><a href={{ path('app_logout') }}>logout</a></li>
                                                {% endif  %}

                                                {%  if app.user.roles[0] == 'ROLE_CLIENT' %}

                                                    <li><i class="ti-user"></i> <a href="{{ path('app_client_show', { 'id': app.user.id } )}}">{{ app.user.nom }}</a></li>
                                                    <li><i class="ti-power-off"></i><a href={{ path('app_logout') }}>logout</a></li>

                                                {% endif  %}


                                            {% else %}
                                                <li><i class="ti-power-off"></i><a href={{ path('app_login') }}>login</a></li>
                                            {% endif  %}




                                        <li>
                                            <div class="dropdown top-dropdown">

                                                <div class="dropdown-menu" aria-labelledby="lang">
                                                    <a class="dropdown-item" href="#"><i class="ti-world"></i> EN</a>
                                                    <a class="dropdown-item" href="#"><i class="ti-world"></i> RU</a>
                                                    <a class="dropdown-item" href="#"><i class="ti-world"></i> GE</a>
                                                    <a class="dropdown-item" href="#"><i class="ti-world"></i> HK</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown top-dropdown">

                                                <div class="dropdown-menu" aria-labelledby="payment">
                                                    <a class="dropdown-item" href="#"><i class="fal fa-dollar-sign"></i> USD</a>
                                                    <a class="dropdown-item" href="#"><i class="fal fa-euro-sign"></i> EUR</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="middle-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">

                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
                                </div>


                                <div class="search-top">
                                    <div class="top-search"><a href="#0"><i class="far fa-search"></i></a></div>

                                    <div class="search-top">
                                        <form class="search-form">
                                            <input type="text" placeholder="Search here..." name="search">
                                            <button value="search" type="submit"><i class="far fa-search"></i></button>
                                        </form>
                                    </div>

                                </div>

                                <div class="mobile-nav"></div>
                            </div>
                            <div class="col-lg-7 col-md-6 col-12">
                                <div class="search-bar-top">
                                    <div class="search-bar">
                                        <select>
                                            <option selected="selected">All Category</option>
                                            <option>Fashion</option>
                                            <option>Electronics</option>
                                            <option>Bikes</option>
                                            <option>Laptop</option>
                                            <option>Camera</option>
                                            <option>Health & Beauty</option>
                                        </select>
                                        <form>
                                            <input name="search" placeholder="Search Products Here....." type="search">
                                            <button class="btnn"><i class="far fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-12">
                                <div class="right-bar">

                                    <div class="sinlge-bar">
                                        <a href="#" class="single-icon"><i class="fal fa-heart" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="sinlge-bar">
                                        <a href="#" class="single-icon"><i class="fal fa-user-circle" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="sinlge-bar shopping">
                                        <a href="#" class="single-icon"><i class="fal fa-shopping-cart"></i> <span class="total-count">2</span></a>

                                        <div class="shopping-item">
                                            <div class="dropdown-cart-header">
                                                <span>2 Items</span>
                                                <a href="#">View Cart</a>
                                            </div>
                                            <ul class="shopping-list">
                                                <li>
                                                    <a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
                                                    <a class="cart-img" href="#"><img src="assets/img/products/p22.png" alt="#"></a>
                                                    <h4><a href="#">Xamaha R15 Blue</a></h4>
                                                    <p class="quantity">1x - <span class="amount">$200.00</span></p>
                                                </li>
                                                <li>
                                                    <a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
                                                    <a class="cart-img" href="#"><img src="assets/img/products/p3.png" alt="#"></a>
                                                    <h4><a href="#">Apple Earphones</a></h4>
                                                    <p class="quantity">1x - <span class="amount">$150.00</span></p>
                                                </li>
                                            </ul>
                                            <div class="bottom">
                                                <div class="total">
                                                    <span>Total</span>
                                                    <span class="total-amount">$350.00</span>
                                                </div>
                                                <a href="checkout.html" class="btn animate">Checkout</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-inner  shadow">
                    <div class="container">
                        <div class="cat-nav-head">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="all-category">
                                        <div class="d-flex">
                                            <i class="flaticon-menu cat-heading-icon"></i>
                                            <h3 class="cat-heading">CATEGORIES</h3>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-9 col-12">
                                    <div class="menu-area">

                                        <nav class="navbar navbar-expand-lg">
                                            <div class="navbar-collapse">
                                                <div class="nav-inner">
                                                    <ul class="nav main-menu menu navbar-nav">
                                                        <li class="active"><a href="#">Home<i class="ti-angle-down"></i></a>
                                                            <ul class="dropdown">
                                                                <li><a href="index.html">Home Demo One</a></li>
                                                                <li><a href="index2.html">Home Demo Two</a></li>
                                                                <li><a href="index3.html">Home Demo Three</a></li>
                                                                <li><a href="index4.html">Home Demo Four</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">User Account<i class="ti-angle-down"></i></a>
                                                            <ul class="dropdown">
                                                                <li><a href="order-list.html">Order List</a></li>
                                                                <li><a href="order-detail.html">Order Details</a></li>
                                                                <li><a href="add-address.html">Add Address</a></li>
                                                                <li><a href="address-list.html">Address List</a></li>
                                                                <li><a href="profile.html">Profile</a></li>
                                                                <li><a href="edit-profile.html">Edit Profile</a></li>
                                                                <li><a href="support-ticket.html">Support Tickets</a></li>
                                                                <li><a href="ticket-detail.html">Ticket Details</a></li>
                                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                                <li><a href="track-order.html">Track Order</a></li>
                                                                <li><a href="payment-method.html">Payment Methods</a></li>
                                                                <li><a href="add-payment.html">Add Payment</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Vendor<i class="ti-angle-down"></i></a>
                                                            <ul class="dropdown">
                                                                <li><a href="dashboard.html">Dashboard</a></li>
                                                                <li><a href="product.html">Products</a></li>
                                                                <li><a href="add-product.html">Add Product</a></li>
                                                                <li><a href="all-order.html">All Orders</a></li>
                                                                <li><a href="order-detail.html">Order Details</a></li>
                                                                <li><a href="all-vendor.html">All Vendors</a></li>
                                                                <li><a href="vendor-store.html">Vendor Store</a></li>
                                                                <li><a href="vendor-profile.html">Vendor Profile</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                            <ul class="dropdown">
                                                                <li><a href="shop-grid.html">Shop Grid</a></li>
                                                                <li><a href="shop-list.html">Shop List</a></li>
                                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                                <li><a href="shop-search.html">Shop Search</a></li>
                                                                <li><a href="cart.html">Cart</a></li>
                                                                <li><a href="checkout.html">Checkout</a></li>
                                                                <li><a href="compare.html">Shop Compare</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Pages<i class="ti-angle-down"></i></a>
                                                            <ul class="dropdown">
                                                                <li><a href="about-us.html">About Us</a></li>
                                                                <li><a href="team.html">Team</a></li>
                                                                <li><a href="login.html">Login</a></li>
                                                                <li><a href="register.html">Register</a></li>
                                                                <li><a href="forgot-password.html">Forgot Password</a></li>
                                                                <li><a href="faq.html">Faq</a></li>
                                                                <li><a href="term-condition.html">Terms & Conditions</a></li>
                                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                                <li><a href="return-policy.html">Return Policy</a></li>
                                                                <li><a href="mail-success.html">Mail Success</a></li>
                                                                <li><a href="404.html">404</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Blog<i class="ti-angle-down"></i></a>
                                                            <ul class="dropdown">
                                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                                <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                                                <li><a href="blog-single.html">Blog Single</a></li>
                                                                <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="contact.html">Contact Us</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </nav>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>



        {% endblock %}




        {% block body %}


        {% endblock %}

        {% block footer %}
            <footer class="footer">

                <div class="footer-top section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-12">

                                <div class="single-footer about">
                                    <div class="logo">
                                        <a href="index.html"><img width="250" src="assets/img/logo-white.png" alt="#"></a>
                                    </div>
                                    <p class="text">We are many variations of passages available but the majority have suffered alteration in some form by the andomised words which injected humour.</p>
                                    <p class="call">Have Any Question? Call Us 24/7<span><a href="tel:(+1)1234565555">(+1) 123 456 5555</a></span></p>
                                    <div class="footer-download">
                                        <a href="#">
                                            <img src="assets/img/download/play-store.png" alt="">
                                        </a>
                                        <a href="#">
                                            <img src="assets/img/download/app-store.png" alt="">
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-6 col-12">

                                <div class="single-footer links">
                                    <h4>Information</h4>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Faq</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Our Stores</a></li>
                                        <li><a href="#">Our Cares</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-6 col-12">

                                <div class="single-footer links">
                                    <h4>Customer Service</h4>
                                    <ul>
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Support Center</a></li>
                                        <li><a href="#">How to Buy</a></li>
                                        <li><a href="#">Track Your Order</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-6 col-12">

                                <div class="single-footer social">
                                    <h4>Get In Tuch</h4>

                                    <div class="contact">
                                        <ul>
                                            <li> <i class="fal fa-map-marker-alt"></i> 1503 Kovar Road, New York, USA</li>
                                            <li> <i class="fal fa-envelope"></i> <a href="https://themes.themewild.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7102101d1402311409101c011d145f121e1c">[email&#160;protected]</a></li>
                                            <li> <i class="fal fa-phone"></i> (+1) 123 456 5657</li>
                                        </ul>
                                    </div>

                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="copyright">
                    <div class="container">
                        <div class="inner">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="left">
                                        <p>Copyright © 2021 <a href="#">SMARTSHOP</a> - All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="right payment">
                                        <i class="fab fa-cc-mastercard"></i>
                                        <i class="fab fa-cc-visa"></i>
                                        <i class="fab fa-cc-paypal"></i>
                                        <i class="fab fa-cc-amex"></i>
                                        <i class="fab fa-cc-discover"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}




    </body>
</html>
