{% extends 'base2.html.twig' %}

{% block title %}Artisan index{% endblock %}

{% block body %}
    <h1>Artisan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Password</th>
                <th>Telephone</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artisan in artisans %}
            <tr>
                <td>{{ artisan.id }}</td>
                <td>{{ artisan.nom }}</td>
                <td>{{ artisan.prenom }}</td>
                <td>{{ artisan.email }}</td>
                <td>{{ artisan.adresse }}</td>
                <td>{{ artisan.password }}</td>
                <td>{{ artisan.telephone }}</td>

                <td>
                    <a href="{{ path('app_artisan_show', {'id': artisan.id}) }}">show</a>
                    <a href="{{ path('app_artisan_edit', {'id': artisan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artisan_new') }}">Create new</a>
{% endblock %}
